main {
    height: auto;
    width: 100%;
}

.banner {
    height: 20vh;
    width: 90%;
    padding: 5%;
    padding-top: 0;
}

.banner img {
    display: block;
    height: 100%;
    width: 100%;
}

.banner h2 {
    position: relative;
    z-index: 1;
    background: rgba(0,0,0,15%);
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    font-size: 200%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person {
    height: 34vh;
    width: 60%;
    padding: 20%;
    padding-bottom: 5%;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.personContent {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: solid 0.6vh #3860A8;
}

.personTitle {
    margin: 5%;
}

.personTitle h2 {
    font-size: 175%;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: -4%;
    color: #3860A8;
}

.personTitle h3 {
    font-style: italic;
    font-size: 110%;
    color: #d6a345;
}

.personText {
    margin: 5%;
    font-size: 110%;
    text-align: justify;
}

.personIMG {
    height: 100%;
    width: 25%;
    border: solid 0.6vh #d6a345;
}