/* Desktop */
@media (min-width: 800px) {
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contact {
    margin-top: 80px;
    height: calc(60vh - 180px);
    width: calc(50% + 10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .text {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .text h1 {
    font-size: 250%;
    color: #3860a8;
  }

  .text p {
    font-size: 150%;
  }

  .info i {
    font-size: 165%;
    margin-right: 12px;
    color: #3860a8;
  }

  .info div {
    display: flex;
  }

  .img img {
    height: calc(60vh - 180px);
  }

  .mailForm {
    width: 50%;
    margin-top: 80px;
    margin-right: 10px;
  }

  .mailForm input,
  .mailForm button {
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 100%;
    padding: 5px;
    margin-bottom: 20px;
  }

  .mailForm button {
    width: calc(100% + 10px);
    height: 60px;
    border: none;
    color: whitesmoke;
    background: #6bc74a;
    border-radius: 1.5vh;
    border-top-right-radius: 0;
    font-size: 140%;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .mailForm textarea {
    width: 100%;
    height: 150px;
    outline: none;
    font-size: 100%;
    padding: 5px;
    resize: none;
    margin-bottom: 20px;
  }
}

/* Phone */
@media (max-width: 800px) {
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contact {
    margin-top: 80px;
    height: calc(60vh - 180px);
    width: 90%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  .text {
    height: 100%;
    width: 44%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .text h1 {
    font-size: 220%;
    color: #3860a8;
  }

  .text p {
    font-size: 100%;
  }

  .info i {
    font-size: 150%;
    margin-right: 12px;
    color: #3860a8;
  }

  .info div {
    display: flex;
  }

  .img img {
    height: calc(50vh - 180px);
  }

  .mailForm {
    width: 90%;
    margin-top: 80px;
    margin-right: 10px;
  }

  .mailForm input,
  .mailForm button {
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 90%;
    padding: 5px;
    margin-bottom: 20px;
  }

  .mailForm button {
    width: calc(100% + 10px);
    height: 60px;
    border: none;
    color: whitesmoke;
    background: #6bc74a;
    border-radius: 1.5vh;
    border-top-right-radius: 0;
    font-size: 110%;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .mailForm textarea {
    width: 100%;
    height: 150px;
    outline: none;
    font-size: 90%;
    padding: 5px;
    resize: none;
    margin-bottom: 20px;
  }
}
