/* Desktop */
@media (min-width: 800px) {
    main {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .flipCards {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    .cardContain {
        width: 16vw;
        height: 22vw;
        perspective: 1000px;
    }

    .card {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    .cardContain:hover .card {
        transform: rotateY(180deg);
    }

    .cardFront img {
        height: 100%;
        width: 100%;
    }

    .cardFront h2 {
        position: absolute;
        background: rgba(0,0,0,15%);
        height: 100%;
        width: 100%;
        font-size: 160%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cardFront {
        background: #333;
        font-size: 150%;
        font-weight: 700;
        position: absolute;
        height: 100%;
        width: 100%;
        color: whitesmoke;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 120%;
    }

    .cardBack {
        background: #3860A8;
        transform: rotateY(180deg);
        position: absolute;
        height: 100%;
        width: 100%;
        color: whitesmoke;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        font-size: 125%;
        text-align: left;
    }

    .cardBack h2 {
        text-align: left;
    }

    .cardBack p {
        margin: 5%;
        text-align: left;
        font-size: 90%;
    }

    .textBox {
        height: auto;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .solarText {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20vw;
        width: 84%;
        padding: 3%;
        border: solid 2px #d6a345;
        text-align: justify;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    .solarText h1 {
        font-size: 150%;
        font-weight: bolder;
        color: #3860A8;
    }

    .solarText p {
        font-size: 100%;
        font-weight: 500;
        width: 80%;
    }

    .solarBlock {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .leesMeerBTN {
        height: 15%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 110%;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;
        background: #3860A8;
        border-radius: 5px;
    }
}

/* Phone */
@media (max-width: 800px) {

}