* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1200px) {
  header {
    height: 180px;
    position: relative;
  }

  .logo {
    height: 174px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    height: 100px;
  }

  .bar {
    height: 10px;
    width: 100%;
    background: #3860a8;
    position: absolute;
    bottom: 0;
    box-shadow: 0px 11px 20px 1px #999999;
  }

  .nav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 42%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav a {
    padding: 8px;
    border-bottom: solid 10px rgba(0, 0, 0, 0%);
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    color: #d6a345;
  }

  .nav .current {
    border-bottom: solid 10px #d6a345;
  }

  footer {
    margin-top: 5vh;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footBox {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .footBar {
    height: 75px;
    width: 100%;
    background: #3860a8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
  }

  .footBar h1 {
    font-size: 25px;
  }

  .socialIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
  }

  .socialIcons a {
    color: whitesmoke;
    font-size: 30px;
    height: 100%px;
    text-align: center;
    transition: all 0.5s ease;
  }

  .socialIcons a i {
    height: 40px;
    width: 50px;
    position: relative;
    top: 3px;
    text-align: center;
  }

  .socialIcons a:hover {
    background: #d6a345;
    box-shadow: 0px 0px 5px 0.3px #555555;
    text-shadow: 0.8px 0.8px #555555;
  }

  .workLogos img {
    width: 6.5%;
    box-shadow: 0px 0px 10px 0.2px #666666;
    border-radius: 10px;
  }

  .workLogos {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footContext {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    height: 30%;
    width: 100%;
  }

  .card1 img {
    width: 15vw;
  }

  .card2 div,
  .card3 div {
    margin-bottom: 10px;
  }

  .card2 div h1,
  .card3 div h1 {
    text-align: left;
    font-size: 110%;
    color: #3860a8;
  }

  .card2 div p,
  .card2 div a,
  .card3 div p,
  .card3 div a {
    text-align: left;
    font-size: 90%;
  }

  .card4 {
    display: flex;
    flex-direction: column;
  }

  .card4 h2 {
    font-size: 150%;
    color: #3860a8;
    margin-bottom: 20px;
  }

  .card4 input {
    font-size: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }

  .card4 button {
    font-size: 110%;
    padding: 5px;
    background: #14c522;
    border: none;
    border-radius: 8px;
    border-top-right-radius: 0;
    color: whitesmoke;
  }
}

@media screen and (max-width: 1200px) {
  header {
    height: 200px;
    position: relative;
  }

  .logo {
    height: 174px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    height: 100px;
  }

  .bar {
    height: 10px;
    width: 100%;
    background: #3860a8;
    position: absolute;
    bottom: 0;
    box-shadow: 0px 11px 20px 1px #999999;
  }

  .nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav a {
    padding: 5px;
    border-bottom: solid 10px rgba(0, 0, 0, 0%);
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    color: #d6a345;
  }

  .nav .current {
    border-bottom: solid 10px #d6a345;
  }

  footer {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footBox {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .footBar {
    height: 70px;
    width: 100%;
    background: #3860a8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
  }

  .footBar h1 {
    font-size: 15px;
  }

  .socialIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
  }

  .socialIcons a {
    color: whitesmoke;
    font-size: 20px;
    transition: all 0.5s ease;
    margin-right: 12px;
  }

  .workLogos {
    display: none;
  }

  .footContext {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    margin: 50px 0 50px 0;
  }

  .card1 {
    display: none;
  }

  .card2 div,
  .card3 div {
    margin-bottom: 10px;
  }

  .card2 div h1,
  .card3 div h1 {
    text-align: left;
    font-size: 90%;
    color: #3860a8;
  }

  .card2 div p,
  .card2 div a,
  .card3 div p,
  .card3 div a {
    text-align: left;
    font-size: 80%;
  }

  .card4 {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .card4 h2 {
    font-size: 120%;
    color: #3860a8;
    margin-bottom: 20px;
  }

  .card4 input {
    font-size: 80%;
    padding: 5px;
    margin-bottom: 10px;
  }

  .card4 button {
    font-size: 85%;
    padding: 5px;
    background: #14c522;
    border: none;
    border-radius: 8px;
    border-top-right-radius: 0;
    color: whitesmoke;
  }
}
