main {
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.wrapper {
    position: relative;
    height: 50vh;
    width: 75%;
}

.solarBanner {
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
}

main h1 {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    background: rgba(0,0,0,45%);
}

.textWrapper {
    width: 65%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: solid 2px #d6a345;
}

.solarIntro,
.solarHow {
    height: 40%;
    width: 100%;
    margin-bottom: 45px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

.solarIntro {
    height: 10%;
    margin-top: 45px;
}

.solarIntro h2,
.solarHow h2 {
    color: #3860A8;
}

.solarIntro p,
.solarHow p {
    font-weight: 400;
    font-size: 110%;
}

.solarHow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.solarText {
    width: 58%;
}

.solarIMG {
    height: 40%;
    width: 38%;
}