{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'CSS/contact.css' %}">
</head>
<main>
    <div class="contactBox">
        <div class="contact1">
            <div class="title">Neem persoonlijk contact op</div>
            <div class="context">
                <div>
                    <h3>Mail</h3>
                    <p>info@datalectro.nl</p>
                </div>
                <div>
                    <h3>Telefoon & Whatsapp</h3>
                    <p>06-46772219</p>
                </div>
            </div>
        </div>
        <div class="contact2">
            OF
        </div>
        <div class="contact3">
            <form class="mailForm" action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="title">Stuur een bericht</div>
                <div class="formBox">
                    <input type="text" name="name" placeholder="Voornaam + achternaam" required>
                    <input type="email" name="mail" placeholder="E-mail addres" required />
                    <input type="text" name="subject" placeholder="Onderwerp" required>
                    <textarea name="message" placeholder="Neem hier contact met ons op"></textarea>
                </div>
                <button type="submit" name="submitMail">Verzend!</button>
            </form>
        </div>
    </div>
</main>
