{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'CSS/solarNews.css' %}">
</head>
<main>
    <div class="wrapper">
        <img src="" class="solarBanner" alt="SolarBanner">
        <h1>DataLectro introduceert, energie van de zon!</h1>
    </div>
    <div class="textWrapper">
        <div class="solarIntro">
            <h2>Milieu</h2>
            <p>
                Sinds 2022 mogen we bij DataLectro met trots vertellen dat wij zijn begonnen
                met het installeren van zonnepanelen voor particulieren. Dit doen wij met een
                doel. DataLectro is hiermee begonnen, omdat we een groen bedrijf willen zijn.
                Dit houdt in dat we streven naar het verbeteren van het climaat!
            </p>
        </div>
        <div class="solarHow">
            <div class="solarText">
                <h2>Hoe gaat dat nou in zijn werk?</h2>
                <p>
                    Sommige mensen zijn bang dat het allemaal te duur is en te moeilijk. Maar eigenlijk
                    valt dat reuze mee. In elk geval wel bij DataLectro! DataLectro levert u top
                    kwaliteit zonne panelen met een top service waarbij de klant altijd op nummer 1
                    staat. Al het verveldende en moeilijke werk is al gedaan voor je. Het enige wat je
                    hoeft te doen is het <a href="/solar-form">Solar-Offerte-Aanvraag</a> formulier invullen
                    en dan maakt DataLectro een gratis offerte en dakberekening! Hierna neemt DataLectro
                    contact met je op en vanaf dan gaat alles eigenlijk vanzelf. Met een accoord liggen ze dan
                    voor u het weet al op uw dak!
                </p>
            </div>
            <img src="" class="solarIMG" alt="SolarIMG">
        </div>
    </div>
</main>