{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
</head>
<main>
    <div class="person">
        <div class="personText">
            <div class="personTitle">
                <h2>Sebastiaan de Vries</h2>
                <h3>Technical Engineer, Eigenaar DataLectro</h3>
            </div>
            <p>
                Hoi, ik ben Sebastiaan en ik heb DataLectro opgericht. Dit heb ik gedaan,
                omdat ik heel erg van techniek houd maar ook van management. Ik help graag
                mensen en ik doe alles voor ons milieu!
            </p>
        </div>
        <div class="personIMG">
            <img src="">
        </div>
    </div>
</main>