{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
</head>
<main>
    <div class="person">
        <div class="personText">
            <div class="personTitle">
                <h2>Sebastiaan de Vries</h2>
                <h3>Technical Engineer, Eigenaar DataLectro</h3>
            </div>
            <p>
                Hoi, ik ben de oprichter van DataLectro. Ik heb het bedrijf gestart,
                omdat ik erg van techniek houd. Ik ben ook altijd wel bezig met techniek,
                al is het hobbymatig of voor mijn werk.
            </p>
        </div>
        <div class="personIMG">
            <img src="">
        </div>
    </div>
</main>