{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'CSS/team.css' %}">
</head>
<main>
    <div class="banner">
        <img src="{% static 'IMG/team/banner.jpg' %}">
        <h2>Maak kennis met het team van DataLectro</h2>
    </div>
    <div class="content">
        {% for Person in person %}
            {% if Person.position == "left" %}
                <div class="person">
                    <div class="personContent">
                        <div class="personTitle">
                            <h2 class="name">{{ Person.name }}</h2>
                            <h3 class="function">{{ Person.workFunction }}</h3>
                        </div>
                        <p class="personText">{{ Person.text }}</p>
                    </div>
                    <div class="personIMG">
                        <img src="" alt="PersonIMG">
                    </div>
                </div>
            {% elif Person.position == "right" %}
                <div class="person">
                    <div class="personIMG">
                        <img src="" alt="PersonIMG">
                    </div>
                    <div class="personContent">
                        <div class="personTitle">
                            <h2 class="name">{{ Person.name }}</h2>
                            <h3 class="function">{{ Person.workFunction }}</h3>
                        </div>
                        <p class="personText">{{ Person.text }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</main>